<h1 ng-init="
	webservers = '$ python -m SimpleHTTPServer # OSX/Linux
code.google.com/p/mongoose/  # Windows';
	code = '<!DOCTYPE html>
<html ng-app>
	<head>
		<script type=\'text/javascript\'
			src=\'//ajax.googleapis.com/
			ajax/libs/angularjs/
			1.0.2/angular.min.js\'>
		</script>
	</head>
	<body>
		<input type=\'text\' ng-model=\'name\'/>
		<p>Hello {{name}}!</p>
	</body>
</html>'">Hello World Redux</h1>

<textarea ui-codemirror="{mode: 'xml'}" ng-model="code"></textarea>

<textarea ui-codemirror="{mode: 'shell'}" ng-model="webservers"></textarea>
